/* ESTILOS GENERALES */

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

body {
  background-image: url(./components/imagenes/fondo.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.header {
  background-color: #0e426a;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  margin-bottom: 30px;
}

#logoCabecera {
  width: 60px;
  margin: 10px;
}

.usuario {
  display: flex;
  align-items: center;
}

.header input,
.header button {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.header button {
  margin-left: 20px;
  background-color: rgb(101, 159, 245);
  min-width: 120px;
}

/* *********************************************************** */
/* ESTILOS DEL MAIN */

.main {
  width: 80%;
  margin: auto;
  margin-bottom: 200px;
}

h1 {
  font-size: 45px;
  padding-bottom: 20px;
  padding: 5px;
  border: 1px solid rgba(3, 102, 250, 0.521);
  border-radius: 5px;
  /* margin: 30px 0; */
  text-align: center;
  color: #0e426a;
  background-color: rgba(3, 102, 250, 0.041);
}

h2 {
  color: #0e426a;
  font-weight: bold;
  font-size: 1.7em;
  padding: 20px;
}

.cajaGuia {
  padding-bottom: 20px;
  padding: 5px;
  border: 1px solid rgba(3, 102, 250, 0.521);
  border-radius: 5px;
  margin-top: 30px;
  text-align: center;
  color: #0e426a;
  background-color: rgba(3, 102, 250, 0.041);
}

.seleccion {
  margin: 20px 0 10px;
}

.seleccionarZona input,
.seleccionarZona button,
.formBorrar input,
.formBorrar button,
.boton {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  min-width: 200px;
  font-size: 14px;
}

.seleccionarZona button,
.formBorrar button,
.boton {
  background-color: rgb(101, 159, 245);
  min-width: 120px;
}

#eleccion {
  text-transform: uppercase;
}

#ola {
  margin: 0 520px;
  font-size: 50px;
  font-weight: bold;
}

/* CLASES DE ZONA1, ZONA2, ZONA3, ZONA4 */
.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.resultados {
  border: 2px solid rgba(3, 102, 250, 0.219);
  padding: 10px;
  background-color: rgba(3, 102, 250, 0.041);
  text-align: left;
  font-size: 12px;
}

.resultados button {
  margin-top: 10px;
  padding: 2px;
  background-color: rgba(3, 102, 250, 0.219);
  border: 1px solid rgba(3, 102, 250, 0.521);
  border-radius: 2px;
  cursor: pointer;
}

.resultados img {
  max-width: 100%;
  min-width: 100%;
  height: 140px;
}

.resultados h2 {
  padding: 5px 0;
}

.resultados p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* CLASES DE LA INMERSIÓN QUE SE MUESTRA EN PANTALLA */
.dive {
  margin-top: 30px;
}

.zonas,
.dive,
.separador {
  border: 2px solid rgba(3, 102, 250, 0.219);
  padding: 20px;
  margin-bottom: 30px;
  font-size: 19px;
  background-color: rgba(3, 102, 250, 0.041);
  text-align: center;
}

.bloque1 {
  display: flex;
  padding-top: 30px;
}

.video {
  width: 55%;
  background-color: #0e426a;
  margin-right: 150px;
  padding: 50px;
}
.video img {
  box-shadow: 7px 7px 5px 0px rgba(26, 25, 25, 0.75);
}

.contenido {
  width: 40%;
  padding: 40px;
}
.contenido h2 {
  border: none;
  font-size: 50px;
  text-align: left;
  padding: 0;
  padding-bottom: 10px;
  font-weight: 500;
}
.contenido p {
  text-align: left;
}

#bucear {
  text-align: right;
  font-size: 80px;
  padding: 60px 40px;
  font-weight: bold;
}

.bloque2 {
  display: flex;
  padding-bottom: 30px;
}
.datos {
  width: 25%;
  text-align: left;
  border: 1px solid #0e426a;
  padding: 0 10px;
}
.datos div {
  background-color: #0e426a;
  color: white;
  margin: 20px 0;
  padding: 20px 5px;
}
i {
  color: #187bc7;
  padding: 0 5px;
}
.datos p {
  display: inline;
}
.mapa {
  width: 75%;
  background-color: #0e426a;
  margin-left: 30px;
  padding: 50px;
}
.mapa img {
  width: 100%;
  height: 100%;
  box-shadow: 7px 7px 5px 0px rgba(26, 25, 25, 0.75);
}

/* FOOTER */
footer {
  color: white;
  text-align: center;
  padding-top: 120px;
  width: 100%;
  background-image: url("./components/imagenes/footer2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer h2 {
  color: white;
  font-size: 25px;
  padding: 40px 0 20px 0;
}
footer a {
  color: rgba(3, 201, 250, 0.877);
}

.font {
  font-size: 13px;
}

footer i {
  cursor: pointer;
  font-size: 25px;
  color: white;
  padding: 0 10px 10px 5px;
}

/* PANELES DE OPCIONES */
.paneles {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  padding: 5px;
  border: 1px solid rgba(3, 102, 250, 0.521);
  border-radius: 5px;
  margin-top: 30px;
  text-align: center;
  color: #0e426a;
  background-color: rgba(3, 102, 250, 0.041);
}

.acciones {
  text-align: center;
  color: #0e426a;
  font-weight: 600;
  font-size: 20px;
}

.acciones:hover {
  color: #187bc7;
  cursor: pointer;
}

.contenedorImagen {
  max-width: 100%;
  margin-top: 30px;
  background-image: url("https://cdn.redshift.autodesk.com/sites/7/2018/09/coral-reef-conservation_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 430px;
}

/* ESTILOS FORMULARIOS DEL PANEL DE CONTROL */

.contenedor,
.contenedor2 {
  padding-bottom: 20px;
  border: 1px solid rgba(3, 102, 250, 0.521);
  border-radius: 5px;
  margin: 30px 0;
  color: #0e426a;
  background-color: rgba(3, 102, 250, 0.041);
}

.contenedorUno {
  display: flex;
}

.contenedor {
  width: 100%;
  padding: 0 100px 20px;
}
.contenedor h2,
.contenedor2 h2 {
  padding: 20px 0;
  font-size: 22px;
}

.contenedor2 h2 {
  padding-left: 40px;
}

.enlaces {
  color: #187bc7;
  text-decoration: none;
}
.enlaces:hover {
  color: #0e426a;
}

.nuevoDato {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.nuevoDato input {
  min-width: 400px;
}

.formBorrar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.red1 {
  color: red;
}
.red2 {
  background-color: rgba(255, 0, 0, 0.144);
  border: 1px solid rgb(250, 165, 179);
}

/* LANDING PAGE */
.landing {
  background-image: url("./components/imagenes/Rubicon.jpg");
  height: 100vh;
  border: 10px solid white;
}

.animated-shadow {
  border: none;
  padding: 200px 100px;
  color: #ffffff;
  font: normal 60px Varela Round, sans-serif;
  height: 140px;
  left: 0;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  animation: move linear 2000ms infinite;
  z-index: 2;
}
/*Animación para rotar las sombras*/
@keyframes move {
  0% {
    text-shadow: 5px -5px 0 rgba(3, 102, 250, 0.521),
      4px -4px 0 rgba(3, 102, 250, 0.521), 2px -2px 0 rgba(3, 102, 250, 0.521),
      2px -2px 0 rgba(3, 102, 250, 0.521), -4px 4px 0 #041977,
      -4px 4px 0 #041977, -2px 2px 0 #041977, -1px 1px 0 #041977;
  }
  25% {
    text-shadow: -6px -6px 0 #041977, -3px -3px 0 #041977, -2px -2px 0 #041977,
      -1px -1px 0 #041977, 4px 4px 0 #041977, 3px 3px 0 #041977,
      2px 2px 0 #041977, 1px 1px 0 #041977;
  }
  50% {
    text-shadow: -6px 6px 0 rgba(3, 102, 250, 0.521),
      -4px 4px 0 rgba(3, 102, 250, 0.521), -2px 2px 0 rgba(3, 102, 250, 0.521),
      -2px 2px 0 rgba(3, 102, 250, 0.521), 4px -4px 0 #041977,
      4px -4px 0 #041977, 2px -2px 0 #041977, 1px -1px 0 #041977;
  }
  75% {
    text-shadow: 6px 6px 0 #041977, 3px 3px 0 #041977, 2px 2px 0 #041977,
      2px 2px 0 #041977, -4px -4px 0 rgba(3, 102, 250, 0.521),
      -4px -4px 0 rgba(3, 102, 250, 0.521), -2px -2px 0 rgba(3, 102, 250, 0.521),
      -2px -2px 0 rgba(3, 102, 250, 0.521);
  }
  100% {
    text-shadow: 6px -6px 0 rgba(51, 129, 247, 0.712),
      4px -4px 0 rgba(51, 129, 247, 0.712), 2px -2px 0 rgba(51, 129, 247, 0.712),
      2px -2px 0 rgba(51, 129, 247, 0.712), -4px 4px 0 #041977,
      -4px 4px 0 #041977, -2px 2px 0 #041977, -1px 1px 0 #041977;
  }
}
